
__pycache__
**/*.pdf
**/*.toc
**/*.bbl
**/*.blg
**/*.out
**/*.aux
**/*.log
**/*.gz
**/*.pyc
**/*.fls
**/*.fdb_latexmk
**/.idea/*
**/data/*
**/__pycache__/*
**/experiments_log/*
**/runs/*
**/ecg_data/*

.ipynb_checkpoints
